<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<canvas id="canvasElement" width="640" height="480"
			style="border:1px solid gray; width: 640px; height: 480px">
			</canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p id='keysPressed'>
		</div>
	</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="../Scripts/break.js"></script>